/OneDrive/文档/NetBeansProjects/mavenproject2/target/
/OneDrive/文档/NetBeansProjects/mavenproject4/target/
/OneDrive/文档/IT/vs/java22/PharmacyInventory/nbproject/private/
/OneDrive/文档/IT/vs/java22/PharmacyInventory/build/
/OneDrive/PharmacyInventory/build/
/OneDrive/PharmacyInventory/nbproject/private/
